/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  min-height: 120px;
}
.table thead tr {
  background-color: #c7e6fd;
}
.table tbody tr i {
  width: 12px;;
}