/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  min-height: 120px;
}
.table thead tr {
  background-color: #c7e6fd;
}
.table tbody tr i {
  width: 12px;;
}

.btn-success {
  background-color: #71ca3a;
  border-color: #71ca3a;
}
.btn-success:hover {
  color: #fff;
  background-color: #5dbb27;
  border-color: #5dbb27;
}
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #5dbb27;
  border-color: #5dbb27;
  box-shadow: 0 0 0 0.15rem rgb(40 178 168 / 50%);
}